<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/Navbar.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    
    
   
    
    
    
    

  
<!--Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">  
     
    
    <div class="navbar-header">
    
      <a class="navbar-brand" href="#">Flask App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
    </ul>
     
    
  </div>
</nav>

<!--End of Navbar -->    
    
              







        <div class="container-fluid">
          <h3>Enter File Name with <b>Extension</b>, Starting and Ending Line number in URL with ' / ' separated : </h3>
          <br><br>
          {% block content %}

            <p>{% for line in data %}
                {{ line }}
              <br>
               {% endfor %}

            </p>

          {% endblock %}


        </div>
       
    

</div>
    
    
</div>
    
    
    
    
    
<div class="footer">
  <p>CopyRights @ Flask - App</p>
</div>
    
   
 

    
    
    

</body>
</html>
